.tabela-vestuario {
    width: 20%;
    margin: 10px;
}

.tabela-vestuario th {
    padding: 10px;
    background-color: #BB66FC;
    color:  white;
}

.tabela-vestuario td {
    padding: 10px;
    background-color: #424250;
    color: white;
}

.tabela-casa {
    width: 20%;
    margin: 10px;
}

.tabela-casa th {
    padding: 10px;
    background-color: #00C4B4;
    color: white;
}

.tabela-casa td {
    padding: 10px;
    background-color: #424250;
    color: white;
}
